<div class="impmal test">
    <span>{{ localize "IMPMAL-COMBAT-RESOLVE.MESSAGES.currentCombatant" }}</span>
    <div class="targets">
        <div class="target-list resolver">
            <div class="target resolver" data-id="{{npc.id}}">
                <img data-tooltip="{{tokenName npc.actor}}" src="{{tokenImg npc.actor}}">
            </div>
        </div>
    </div>
</div>