<div class="impmal test">
    <span>{{copy}}</span>
    {{#if npc}}
    <div class="targets">
        <div class="target-list resolver">
            <div class="target resolver" data-id="{{npc.id}}">
                <img data-tooltip="{{tokenName npc.actor}}" src="{{tokenImg npc.actor}}">
            </div>
        </div>
    </div>
    {{/if}}
</div>